---
import type { HTMLAttributes } from 'astro/types';

type Props = {
  label?: string,
  defaultValue?: string,
} & HTMLAttributes<'input'>;
const { label, defaultValue, class: className, ...props } = Astro.props;
---

<div class="text-box">
  <label>{label}</label>
  <input {...props} value={defaultValue ?? ""} />
</div>

<style>
  .text-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 6px;
  }

  .text-box > label {
    font-size: var(--text-md);
    line-height: normal;
    font-weight: 500;
  }

  .text-box > input {
    width: calc(100% - 4em);
    border: 0;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cecece;
    border-radius: 0.25rem;
  }

  .text-box > input:focus {
    outline: none;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: 0 0 5px #2285ee;
  }
</style>